<div class="banner">
  <div class="container">
    <h1>Antoine et Clémence <strong>voyagent</strong> le long <strong>des Andes</strong>!</h1>
    <p>Suivez nous dans nos aventures!</p>
    <a class="btn btn-flat" href="https://www.facebook.com/Tonionino" target="_blank">Suivez nous!</a>
  </div>
</div>
