<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/cenomdutilisateurestdejaprisfk/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Tonionino" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Retrouvez-nous sur nos réseaux sociaux <i class="fas fa-heart"></i>
  </div>
</div>
